{% extends "foodApp/base.html" %}
{% block head_content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="display-3">Mein Wochenplan</h1>
                </div>
                <div class="col-md-2">
                    <p><a class="btn btn-secondary" href="{% url 'foodApp:shopping' object.id %}" role="button">Einkaufsliste &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock head_content %}

<!--main content-->
{% block main_content %}
<main role="main">
    <div class="container">
        <!-- Current agenda -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Mittag</th>
                <th scope="col">Abend</th>
              </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                  <th scope="row">{{ object.date }}</th>
                  <td>{{ object.recipe.title }}</td>
                  <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock main_content %}