<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/media/Logo.png">

    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <title>Essensplan</title>
  </head>
  <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="min-height: 120px">
        <img src="/media/Logo.png" alt="My image" class="rounded" height="60" max="30"class="img-fluid"> 
        <a class="navbar-brand" href="{% url 'foodApp:home' %}" style="height: 70px"> <h1 class="display-4">Essensplan!</h1> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="height: 150px">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodApp:home' %}" style="font-size: x-large; height: 55px; color:azure ; padding: 30px;">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodApp:foodplan' %}" style="font-size: x-large; height: 55px; color:azure ; padding: 30px;">Essensplan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodApp:myprofil' %}" style="font-size: x-large; height: 55px; color:azure ; padding: 30px;">MeinProfil</a>
            </li>
            {% if perms.foodApp.change_recipe %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'foodApp:reviewRecipesList' %}" style="font-size: x-large; height: 55px; color:azure ; padding: 30px;">Verifizieren</a>
              </li>
            {% endif %}
          </ul>
          <!-- Login/Logout -->  
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 70px; ; width: 150px; background-color: transparent;"> 
                  <img src="/media/profil.png" style="max-height: 30px;"; alt="Profli"><br><p style="font-size: medium">{{user}}</p></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                  <a class="dropdown-item" href="{% url 'profile' %}">Einstellungen</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </div>

            {% else %}
              <a class="btn btn-outline-success" style="font-size: x-large" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
      {% block head_content %}
      {% endblock head_content %}
  
      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>  
          {% endfor %}
        </div>
      {% endif %}

      {% block main_content %}
      {% endblock main_content %}
      <hr>
      <footer>
        <div class="container" style="align-items: center;">
          <p>&copy; INF18IN - DHBW 2020 </p>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block custom_js %}
    {% endblock custom_js %}
  </body>
</html>
