<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Essensplan</title>
  </head>
  <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="min-height: 100px">
        <img src="/media/Logo.png" alt="My image" class="rounded" height="60" max="30"class="img-fluid"> 
        <a class="navbar-brand" href="{% url 'foodApp:home' %}" style="height: 70px"> <h1 class="display-4">Essensplan!</h1> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="height: 110px">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodApp:foodplan' %}" style="font-size: x-large; height: 55px; color:azure ; padding: 30px;">Essensplan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodApp:recipesList' %}" style="font-size: x-large; height: 55px; color:azure ; padding: 30px;">Rezepte</a>
            </li>
          </ul>
          <!-- Login/Logout -->  
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 70px; ; width: 150px; background-color: transparent;"> 
                  <img src="/media/profil.png" style="max-height: 30px;"; alt="Profli"><br><p style="font-size: medium">{{user}}</p></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                  <a class="dropdown-item" href="{% url 'foodApp:myprofil' %}">Mein Profil</a>
                  {% if perms.foodApp.change_recipe %}
                    <a class="dropdown-item" href="{% url 'foodApp:reviewRecipesList' %}">Verifizieren</a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'profile' %}">Einstellungen</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            {% else %}
              <a class="btn btn-outline-success" style="font-size: x-large" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
      {% block head_content %}
      {% endblock head_content %}
  
      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>  
          {% endfor %}
        </div>
      {% endif %}

      {% block main_content %}
      {% endblock main_content %}
      <hr>
      <footer>
        <div class="container" style="align-items: center;">
        <p class="pull-left">&copy; INF18IN - DHBW 2020</p>
          <div class="pull-right">
            <div class="list-inline">
               <a style="color: black;" href="#">Datenschutz</a>
               <a style="none; color: black;" href="#">Impressum</a>
            </div>
          </div>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block custom_js %}
    {% endblock custom_js %}
  </body>
</html>
