{% extends "foodApp/base.html" %}
{% load crispy_forms_tags %}
{% block head_content %}
<main role="main">
   
    <div class="jumbotron" style="text-align: center;">
        <div class="container">
        <h2>Hier kannst du deinen Wochenplan erstellen!</h2>
        </div>
    </div>
</main>
{% endblock head_content %}
{% block main_content %}
    <main role="main" class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="jumbotron">
                <h4>Hier kannst du deinen Wochenplan filtern!</h4>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.days | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.select_daytime | as_crispy_field}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ filter.form.work_time|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-5 mb-0 rating-select">
                        {{ filter.form.avg_rating.label }} 
                        {{ filter.form.avg_rating }}
                        <div class="rating-select my-3">
                            {% for i in '0123456789'|make_list %}
                                <span class="fa fa-star-o fa-lg" data-rating="{{ forloop.counter }}"></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-8 mb-0">
                        <button class="btn btn-light mb-2" type="button" data-toggle="collapse" data-target="#showIngredients">
                            {{ filter.form.ingredients.label }}<i class="fa fa-chevron-right ml-2"></i>
                        </button>
                        <div class="collapse" id="showIngredients" >
                            {% for grocery in filter.form.ingredients %}
                                <label class="checkbox-inline ml-2" >
                                {{ grocery.tag }} {{ grocery.choice_label }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success float-right" name="generate" value="0">Generate <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
            <div class="row">
                {% for object in object_list  %}
                <div class="col-md-6">
                    <div class="jumbotron" style="max-height: 250px;">
                        <div class="form-group">
                            <button class="btn btn-outline-danger float-sm-right " name="delete"  value={{object.recipe.id}} data-toggle="tooltip" title="Löschen">
                                <i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-outline-dark float-sm-right " name="reload"  value={{object.recipe.id}} data-toggle="tooltip" title="Neuladen">
                                <i class="fa fa-repeat"><!--i class="fa fa-edit"--></i>
                            </button>
                            <div class="container" style="text-align: center; min-height: 50px;">
                                {% if object.daytime %}
                                    <h4 style="align-items: center;">{{object.date | date:"l"}} - Mittag</h4> <!-- "l": Monday | "D": Mon. | "j": 1 | "N": Jan. -->
                                {% else %}
                                    <h4>{{object.date | date:"l"}} - Abend</h4>
                                {% endif %}
                            </div>
                            <h3><a style=" color: black;" href="{% url 'foodApp:recipesDetail' object.recipe.id %}" >{{object.recipe.title}} </a></h3>
                            {% if object.recipe.avg_rating > 0 %}
                                <p class="lead">
                                    {% for i in '0123456789'|make_list %}
                                        {% if forloop.counter0 >= object.recipe.avg_rating %}
                                            <span class="fa fa-star-o fa-lg"></span>
                                        {% else %}
                                            {% if forloop.counter > object.recipe.avg_rating and object.recipe.avg_rating > forloop.counter0 %}
                                                <span class="fa fa-star-half-o fa-lg"></span>
                                            {% else %}
                                                <span class="fa fa-star fa-lg"></span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            <p class="lead">{{object.recipe.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}   
            </div> 
            <div class="container" style="min-height: 50px;">
                <button class="btn btn-outline-success float-right" name="save" value="0">Speichern <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </form>
    </main>
{% endblock main_content %}

{% block custom_js %}
<script>
$(function(){
    $('.rating-select .fa').on('mouseover', function(){
        $(this).removeClass('fa-star-o').addClass('fa-star');
        $(this).prevAll().removeClass('fa-star-o').addClass('fa-star');;
        $(this).nextAll().removeClass('fa-star').addClass('fa-star-o');;
    });

    $('.rating-select').on('mouseleave', function(){
        active = $(this).parent().find('.selected');
        if(active.length) {
            active.removeClass('fa-star-o').addClass('fa-star');
            active.prevAll().removeClass('fa-star-o').addClass('fa-star');
            active.nextAll().removeClass('fa-star').addClass('fa-star-o');
        } else {
            $(this).find('.fa').removeClass('fa-star').addClass('fa-star-o');
        }

    });

    $('.rating-select .fa').click(function(){
        var num = 0
        if($(this).hasClass('selected')) {
            $('.rating-select .selected').removeClass('selected');
        } else {
            $('.rating-select .selected').removeClass('selected');
            $(this).addClass('selected');
            num = parseInt($(this).attr("data-rating"));
        }
        $('#id_avg_rating').val(num);
    });
});
$(document).ready(function() {
    var num =  $('#id_avg_rating').val();
    active = $("span[data-rating='"+num+"']")
    active.removeClass('fa-star-o').addClass('fa-star selected');
    active.prevAll().removeClass('fa-star-o').addClass('fa-star');
});
</script>
{% endblock custom_js %}