{% extends "foodApp/base.html" %}
{% block main_content %}
<main role="main" class="container">
    <div class="jumbotron" style="text-align: center; background-color:white;">
        <div class="card">
            <h4 class="card-header">Zutat löschen!</h4>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h2>Sind Sie sicher, dass Sie die Zutat: "{{ object.name }}" löschen wollen?</h2>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Ja, löschen</button>
                        <a class="btn btn-outline-secondary" href="{% url 'foodApp:home' %}">Abbrechen</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock main_content %}
