{% extends "foodApp/base.html" %}
{% block head_content %}
<main role="main">
   
    <div class="jumbotron">
        <div class="container">
        <h1 class="display-4" >Hallo {{user}}!</h1>
        </div>
    </div>
</main>
{% endblock head_content %}

<!--main content-->
{% block main_content %}
<main role="main">
    <div class="container">
        <!-- Lists the agenda and recipes from the User -->
        <div class="row">
            <div class="col-md-6">
                <h2>Meine Rezepte</h2>
                {% for recipe in myrecipes  %}
                    <div class="jumbotron" >
                        <div class="row">
                            <div class="col-md-6">
                                <img src={{recipe.image.url}} class="figure-img img-fluid rounded" style="max-height: 150px;" alt="Rezept Bild">
                            </div>
                            <div class="col-md-6 my-auto">
                                <h3><a  style=" color: black;"  href="{% url 'foodApp:recipesDetail' recipe.id %}" >{{recipe.title}} </a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}       
            </div>
            <div class="col-md-6">
                <h2>Meine Wochenpläne</h2>
                {% for plan in myfoodplans  %}
                    <div class="jumbotron" >
                        <a class="btn btn-outline-danger float-sm-right " href="{% url 'foodApp:foodplanDelete' plan.id %}" role="delete"><i class="fa fa-times" ></i></a>
                        <h3><a style=" color: black;"  href="{% url 'foodApp:agenda' plan.id %}" >Wochenplan</a></h3>
                    </div>
                {% endfor %}  
            </div>
        </div>
    </div>

</main>
{% endblock main_content %}
      