{% extends "foodApp/base.html" %}
{% block head_content %}
<main role="main">
   
    <div class="jumbotron">
        <div class="container">
        <h1 class="display-4" >Hallo {{user}}!</h1>
        </div>
    </div>
</main>
{% endblock head_content %}

<!--main content-->
{% block main_content %}
<main role="main">
    <div class="container">
        <!-- Lists the agenda and recipes from the User -->
        <div class="row">
            <div class="col-md-6">
                <h2>Deine Rezepte</h2>
                {% for recipe in myrecipes  %}
                    <div class="jumbotron" >
                        <div class="row">
                            <div class="col-md-6">
                                {% if recipe.image %}
                                <img src={{recipe.image.url}}  style="max-height: 150px;" alt="Rezept Bild">
                                {% endif %}
                            </div>
                            <div class="col-md-6 my-auto" style="text-align: center;">
                                <h3><a  style=" color: black;"  href="{% url 'foodApp:recipesDetail' recipe.id %}" ><small>{{recipe.title}}</small></a></h3>
                            </div>
                        </div>
                        {% if recipe.reviewed %}
                            <span class="float-sm-right" style="font-size: 40px; color: green;">
                                <i class="fa fa-check-square-o" ></i>
                            </span>
                        {% else %}
                            <span class="float-sm-right" style="font-size: 40px; color: grey;">
                                <i class="fa fa-edit" ></i>
                            </span>
                        {% endif %}
                    </div>
                {% endfor %}       
            </div>
            <div class="col-md-6">
                <h2>Deine Wochenpläne</h2>
                {% for plan in myfoodplans  %}
                    <div class="jumbotron" >
                        <a class="btn btn-outline-danger float-sm-right " href="{% url 'foodApp:foodplanDelete' plan.id %}" role="delete"><i class="fa fa-times" ></i></a>
                        <h3><a style=" color: black;"  href="{% url 'foodApp:agenda' plan.id %}" ><small>Wochenplan</small></a></h3>
                        ab {{plan.foodplan_recipe_set.first.date | date:"l j. F" }}
                    </div>
                {% endfor %}  
            </div>
        </div>
    </div>

</main>
{% endblock main_content %}
      