{% extends "foodApp/base.html" %}
{% block main_content %}
    <main role="main" class="container">
        {% for object in object_list  %}
            <div class="jumbotron">
                <h1>{{object.title}}</h1>
                <p class="lead">{{recipe.description}}</p>
                <a class="btn btn-lg btn-primary" href="{% url 'foodApp:recipesDetail' object.id %}" role="button">{{object.title}} &raquo;</a>
            </div>
        {% endfor %}        
    </main>
{% endblock main_content %}