{% extends "foodApp/base.html" %}
{% block main_content %}
    <main role="main" class="container">
        <div class="jumbotron">
            {% if perms.foodApp.change_recipe %}
                <a class="btn btn-danger float-sm-right " href="{% url 'foodApp:recipesDelete' object.id %}" role="button"><i class="fa fa-times"></i></a>
                <a class="btn btn-dark float-sm-right " href="{% url 'foodApp:recipesUpdate' object.id %}" role="button"><i class="fa fa-edit"></i></a>
            {% endif %}
            <h1>{{object.title}}</h1>
            <p class="lead">Kurzbeschreibung: {{object.description}}</p>
            {% if object.avg_rating > 0 %}
                <p class="lead">Bewertung: {{object.avg_rating | floatformat:2 }}</p>
            {% endif %}
            <p class="lead">Verarbeitungszeit: {{object.work_time}}min</p>
            <p class="lead">Zutaten:
                <div class="lead container">
                    {% for each in object.ingredient_set.all %}
                        <li>{{ each.quantity }}{{ each.grocery.unit }} {{ each.grocery.name }}</li>
                    {% endfor %}
                </div>
            </p>
            <p class="lead">Zubereitung: {{object.preparation}}</p>
            <p class="lead">Erstellt von: {{object.author}}</p>
            <a class="btn btn-primary btn-lg float-sm-right" href="{% url 'foodApp:commentaryList' object.id %}" role="button"><i class="fa fa-comments-o"></i></a>
            <a class="btn btn-success btn-lg float-sm-right" href="{% url 'foodApp:createCommentary' object.id %}" role="button"><i class="fa fa-plus"></i></a>
        </div>    
    </main>
{% endblock main_content %}