{% extends "foodApp/base.html" %} {% block main_content %}
<main role="main" class="container">
  <div>
    <br />
    <form
      id="search-form"
      class="form-inline d-flex justify-content-center md-form form-sm mt-0"
      method="GET"
      action="{% url 'foodApp:recipesList' %}"
    >
      <input
        name="q"
        class="searchfield form-control  ml-3 w-75"
        type="text"
        placeholder="Im Rezeptbuch suchen ..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Suchen &raquo;</button>
    </form>
    <br />
    {% for object in object_list %}
    <div class="jumbotron">
      <h1>{{object.title}}</h1>
      {% if object.avg_rating > 0 %}
      <p class="lead">Bewertung: {{object.avg_rating | floatformat:1 }}</p>
      {% endif %}
      <p class="lead">{{object.description}}</p>
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'foodApp:recipesDetail' object.id %}"
        role="button"
        >{{object.title}} &raquo;</a>
    </div>


    {% empty %}
    <h1>Leider konnten keine Gerichte gefunden werden :(</h1>
    {% endfor %}
    {% if page_obj %}
      <div class="pagination justify-content-end" >
        <span class="step-links">
            {% if page_obj.has_previous %}
                <!--a href="?page=1">&laquo; Erste</a-->
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; Zurück</a>
            {% endif %}
    
            <span class="current">
                Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Weiter &raquo;</a>
                <!--a href="?page={{ page_obj.paginator.num_pages }}">Letzte &raquo;</a-->
            {% endif %}
        </span>
    </div>
  {% endif %}
  </div>
</main>
{% endblock main_content %}
