{% extends "foodApp/base.html" %}
{% block main_content %}
    <main role="main">
    
    <div class="jumbotron">
        <div class="container">
        <h1 class="display-3">Einkaufsliste!</h1>
        </div>
    </div>

    <div class="container">
        <!-- Ingerdiants from the agenda as list -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Menge</th>
                <th scope="col">Zutat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>

    </div> <!-- /container -->

    </main>
{% endblock main_content %}