{% extends "foodApp/base.html" %}
{% block main_content %}
    <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="display-3">Mein Wochenplan</h1>
                </div>
                <div class="col-md-2">
                    <p><a class="btn btn-secondary" href="{% url 'foodApp:myProfil' %}" role="button">Einkaufsliste &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        <div class="col-md-4">
            <h2>Montag</h2>
            <div class="row">
                <div class="col-md-4">
                    <p>Mittag</p>
                </div>
                <div class="col-md-4">
                    <p>Abend</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Dienstag</h2>
            <div class="row">
                <div class="col-md-4">
                    <p>Mittag</p>
                </div>
                <div class="col-md-4">
                    <p>Abend</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Donnerstag</h2>
            <div class="row">
                <div class="col-md-4">
                    <p>Mittag</p>
                </div>
                <div class="col-md-4">
                    <p>Abend</p>
                </div>
            </div>
        </div>
    </div>


    </div> <!-- /container -->

    </main>
{% endblock main_content %}