appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
coverage==5.1
distlib==0.3.0
Django==3.0.14
django-crispy==1.8.1
django-crispy-forms==1.9.0
django-filter==2.2.0
django-jenkins==0.110.0
filelock==3.0.12
isort==4.3.21
jslint==0.6.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pep8==1.7.1
Pillow==7.1.1
pyflakes==2.1.1
pylint==2.4.4
pylint-django==2.0.15
pylint-plugin-utils==0.6
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
wrapt==1.11.2
