{% extends 'foodApp/base.html' %}
{% load crispy_forms_tags %}
{% block main_content %}
<main role="main" class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <img class="rounded account-img mr-2" src="{{ user.profile.image.url }}" style="height:120px">
        </div>
        <div class="col-md-12" style="text-align: center;">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>

      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profil Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group" style="min-height: 10px;">
              <button class="btn btn-outline-success float-right" type="submit">Update</button>
          </div>
      </form>
    </div>
</main>
{% endblock main_content %}
