{% extends "foodApp/base.html" %}
{% load crispy_forms_tags %}
{% block main_content %}
<main role="main" class="container">
    <div class="jumbotron" style="background-color: white;">
        <form method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <legend >Registrieren</legend>
                </div>
                <div class="card-body">
                    {{ form|crispy }}
                    <div class="text-muted">
                        Du hast bereits einen Account? <a class="ml-2" style="color: #5cb85c;" href="{% url 'login' %}">Anmelden</a>
                    </div>
                    <button class="btn btn-outline-success float-right" type="submit">Registrieren</button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock main_content %}
